<!DOCTYPE html>
<html>
    <head>
      <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
      <title>Amanda's Avenue</title>
    </head>
    <body>
        <h1>About Me</h1>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#intro">Intro</a></li>
          <li><a data-toggle="tab" href="#funfacts">Fun Facts</a></li>
          <li><a data-toggle="tab" href="#resume">Resume</a></li>
        </ul>
        <div class="well">
          <div class="tab-content">
            <div id="intro" class="tab-pane fade in active">
              <div class="row">
                <div class="col-lg-6">
                  <%= image_tag "about_me.JPG" %>
                </div>
                <div class="col-lg-6">
                  <p>I grew up in a small town in Southern California. I moved to San Francisco in 2011 to pursue my degree in
                    computer science at San Francisco State University. Here I am, two years later. I am preparing to
                    graduate in just two months. I am excited to start my career as a Software Engineer and can not wait
                    to see where life takes me.
                  </p>
                </div>
              </div>
            </div>
            <div id="funfacts" class="tab-pane fade">
              <h3>Favorite Activities</h3>
              <ul>
                <li>Volleyball - indoor and outdoor</li>
                <li>Baking</li>
                <li>Reading</li>
                <li>Playing with my cat Mango</li>
              </ul>
              <h3>Hobbies</h3>
              <ul>
                <li>Baking</li>
                <li>Crafts (sewing, knitting, scrapbooking)</li>
                <li>Programming</li>
              </ul>
            </div>
            <div id="resume" class="tab-pane fade">
              <h3>Amanda McWhorter</h3>
              <h4>Education</h4>
              <li>San Francisco State University</li>
              <li>Graduation date: May 2014</li>
              <li>Major: Computer Science</li>
              <h4>Work Experience</h4>
              <li>Manilla - Web Development and QA Intern</li>
              <li>SFSU Communications Dept. - Student Web Assistant</li>
              <li>Epsilon Systems Inc. - Data Entry</li>
              <h4>Qualification and Other Experience</h4>
              <li>Languages: C, C++, Java, Ruby, PHP, JavaScript, HTML, CSS</li>
              <li>frameworks: Ruby on Rails, BootStrap</li>
              <li>Databases: MySQL, Postresql, SQL</li>
              <li>Version Control: git, svn</li>
              <li>Operating Systems: Linux, MacOX, Windows</li>
              <li>Other: Unix, UML, Microsoft Office, Microsoft Project, SAP ERP</li>
            </div>
          </div>
        </div>
    </body>
</html>