<!DOCTYPE html>
<html>
    <head>
      <title>Amanda's Avenue</title>
    </head>
    <body>
        <h1>About Me</h1>
        <p>
          This is the About me page
        </p>
    </body>
</html>