@import "bootstrap";

$lightGray: #999;
$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-brand {
  color: purple;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.cover_photo {
  width: 100%;
  z-index: 0;
  padding-top: 0;
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $lightGray;

  a {
    color: gray;
    &:hover {
      color: #222;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* carousel*/

.carousel-inner, .carousel {
  display: block;
  max-width: 100%;
  line-height: 1;
}

container {
  #carousel-cont {
    max-width: 100%;
  }
}