<footer class="footer">
  <div class="container">
      <small>
        by Amanda McWhorter
      </small>
      <nav>
        <!--<ul>-->
          <!--<li><%= link_to "About Me", about_path %></li>-->
          <!--<li><%= link_to "Contact Me", contact_path %></li>-->
        <!--</ul>-->
      </nav>
  </div>
</footer>